<a href="https://colab.research.google.com/github/VictorHolanda21/MachineLearning-PrevisaoFutebol/blob/main/3_Treinamento_Modelo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Importando bibliotecas

In [23]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.warn("deprecated", DeprecationWarning)
warnings.filterwarnings("ignore")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: DeprecationWarning: deprecated
  # This is added back by InteractiveShellApp.init_path()

In [24]:
url_loc_files = '/content/drive/MyDrive/Colab Notebooks/Previsao No Futebol/'

# 2. Modelagem

## 2.1 Carregando dados

In [25]:
media_classificacao_time = pd.read_csv(url_loc_files + "media_classificacao_time.csv")
media_classificacao_time.head()

    ano  classificao_time      idade  altura_jogador  peso_jogador
0  2003                 1  40.515152        1.831212     74.848485
1  2003                 2  43.129032        1.815806     76.709677
2  2003                 3  40.000000        1.813590     78.256410
3  2003                 4  40.605263        1.828684     75.540541
4  2003                 5  41.000000        1.799615     74.000000

## 2.2 Dividindo base de treinamento e teste

**x** => Váriavel independente/explicativa - usada para chegar no resultado da váriavel **y**: 
* idade
* altura_jogador
* peso_jogador

**y** => Váriavel dependente/alvo - usada como saída/resultado: 
* classificao_time

In [26]:
x = media_classificacao_time.drop(columns =['ano', 'classificao_time'])
y = media_classificacao_time.classificao_time

x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.33, random_state=42)

In [27]:
print("Quantidade de linhas (x): ", len(x))
x.head()

Quantidade de linhas (x):  380

       idade  altura_jogador  peso_jogador
0  40.515152        1.831212     74.848485
1  43.129032        1.815806     76.709677
2  40.000000        1.813590     78.256410
3  40.605263        1.828684     75.540541
4  41.000000        1.799615     74.000000

In [28]:
print("Quantidade de linhas (x_treino): ", len(x_treino))
x_treino.head()

Quantidade de linhas (x_treino):  254

         idade  altura_jogador  peso_jogador
155  35.277778        1.826667     76.314286
79   38.382353        1.818857     78.114286
132  33.529412        1.820588     76.588235
140  34.687500        1.822979     76.872340
291  29.785714        1.805926     76.115385

## 2.3 Normalizando a base

In [29]:
scaler = MinMaxScaler()
x_treino_scaler = scaler.fit_transform(x_treino)
x_teste_scaler = scaler.transform(x_teste)
x_teste_scaler

array([[ 0.36817102,  0.59025927,  0.29791219],
       [ 0.23193625,  0.58189161,  0.42245266],
       [ 0.28352408,  0.7011449 ,  0.23782687],
       [ 0.88507755,  0.67429125,  0.37781785],
       [ 0.90087703,  0.38332929,  0.23964764],
       [ 0.14446124,  0.70323296,  0.34355275],
       [ 0.86058834,  0.62757451,  0.27970452],
       [ 0.39192399,  0.41410225, -0.00563571],
       [ 0.30665083,  0.8190507 ,  0.52098988],
       [ 0.60184888,  0.69138632,  0.48668145],
       [ 0.36425877,  0.57226983,  0.34756947],
       [ 0.24918349,  0.610189  ,  0.27676779],
       [ 0.5517918 ,  0.71252937,  0.43644882],
       [ 0.37875189,  0.51079734,  0.23567506],
       [ 0.7807304 ,  0.58813908,  0.3916817 ],
       [ 0.17015763,  0.64591803,  0.35238954],
       [ 0.28695414,  0.66149746,  0.41079975],
       [ 0.85324796,  0.56297342,  0.29442898],
       [ 0.47717076,  0.72934335,  0.57466879],
       [ 0.71733967,  0.61325149,  0.36669672],
       [ 0.99076273,  0.70798446,  0.4999499 ],
       [ 0.34523712,  0.76351758,  0.49644324],
       [ 0.00810877,  0.5054519 ,  0.10701913],
       [ 0.85942561,  0.69254209,  0.24715141],
       [ 0.81838114,  0.61739763,  0.58195186],
       [ 0.49453682,  0.55131573,  0.26907124],
       [ 0.95011876,  0.6608513 ,  0.56807935],
       [ 0.87785492,  0.33244488,  0.2032323 ],
       [ 0.97186187,  0.60043615,  0.3634598 ],
       [ 0.90096045,  0.74320751,  0.54553652],
       [ 0.21187648,  0.57160165,  0.37438441],
       [ 0.24375461,  0.46287276,  0.05907776],
       [ 0.83855643,  0.65055457,  0.35617674],
       [ 0.54334917,  1.00944996,  0.65712353],
       [ 0.50118765,  0.49743375,  0.32461677],
       [ 0.63015985,  0.50300191,  0.22993688],
       [ 0.58831354,  0.63145142,  0.39288935],
       [ 0.65211036,  0.67054357,  0.43871818],
       [ 0.6175772 ,  0.72168333,  0.36248873],
       [ 0.17992874,  0.60382845,  0.43993202],
       [ 0.56018696,  0.71883818,  0.44780244],
       [ 0.18183307,  0.60043615,  0.10622182],
       [ 0.82001188,  0.57380664,  0.7348963 ],
       [ 0.87454114,  0.59365156,  0.33322403],
       [ 0.50566417,  0.66488975,  0.43264896],
       [ 0.01567696,  0.80680074,  0.40557494],
       [ 0.10261283,  0.55543171,  0.14069836],
       [ 0.92773616,  0.53598255,  0.31976139],
       [ 0.80463183,  0.56425168,  0.4784716 ],
       [ 0.26477138,  0.56131169,  0.16355213],
       [ 0.79678015,  0.59691822,  0.47890993],
       [ 0.28295724,  0.60899063,  0.39322539],
       [ 0.11828979,  0.60434243,  0.40208214],
       [-0.01694806,  0.60722074,  0.330686  ],
       [ 0.26095503,  0.71916646,  0.58195186],
       [ 0.86401425,  0.64591803,  0.26500351],
       [ 0.71861867,  0.9532348 ,  0.55646112],
       [ 0.85780981,  0.61494114,  0.55533099],
       [ 0.27322165,  0.67488809,  0.20775961],
       [ 0.64916865,  0.65539133,  0.19837692],
       [ 0.82605518,  0.61061304,  0.4909135 ],
       [ 0.39991363,  0.45199756,  0.05205345],
       [ 0.73562945,  0.45547209,  0.30568079],
       [ 0.63098613,  0.56804521,  0.4600192 ],
       [-0.00205859,  0.79718924,  0.19332732],
       [ 0.81591449,  0.50860189,  0.28854824],
       [ 0.55618491,  0.64792828,  0.16924464],
       [ 0.86392049,  0.67024601,  0.31267516],
       [ 0.86565321,  0.40666828,  0.32966637],
       [ 0.32494062,  0.56932062,  0.32574391],
       [ 0.47624703,  0.6622513 ,  0.44033664],
       [ 0.27299533,  0.72280107,  0.6507364 ],
       [ 0.62513496,  0.73373338,  0.37010025],
       [ 0.48788599,  0.78475083,  0.42876465],
       [ 0.61567696,  0.70453114,  0.31830478],
       [ 0.74971871,  0.5425886 ,  0.46082293],
       [ 0.82749406,  0.47788951,  0.16089946],
       [ 0.42270784,  0.86177853,  0.67430117],
       [ 0.32975674,  0.58452746,  0.30207394],
       [ 0.84619952,  1.0272999 ,  0.71122633],
       [ 0.43467933,  0.65980131,  0.34197475],
       [ 0.66354618,  0.58609159,  0.64292155],
       [ 0.37371338,  0.53158513,  0.30708346],
       [ 0.06223278,  0.51647686,  0.17972785],
       [ 0.36152019,  0.93763024,  0.82010821],
       [ 0.86223278,  0.58861158,  0.31559964],
       [ 0.85589865,  0.58711825,  0.47540327],
       [ 0.42124977,  0.72255876,  0.60380107],
       [ 1.03325416,  0.70022615,  0.70333634],
       [ 0.79140574,  0.62478085,  0.40630138],
       [ 0.67757926,  0.90426776,  0.43439056],
       [ 0.96674584,  0.60293574,  0.51065445],
       [ 0.55696881,  0.47017204,  0.21731289],
       [ 0.43312055,  0.73875423,  0.3378516 ],
       [ 0.18225005,  0.7671109 ,  0.30720438],
       [ 0.09126622,  0.58162434,  0.14427412],
       [ 0.68543365,  0.55789494,  0.42782638],
       [ 0.04809976,  0.70009943,  0.25392245],
       [ 0.04689296,  0.63374232,  0.07644069],
       [ 0.26365796,  0.68185122,  0.49819657],
       [ 0.77980356,  0.67231613,  0.66580557],
       [ 0.34988124,  0.78769082,  0.59918846],
       [ 0.09927103,  0.79379695,  0.45085663],
       [ 0.63542089,  0.55277855,  0.29613583],
       [ 0.27530271,  0.50986189,  0.16681695],
       [ 0.54552652,  0.62973324,  0.34111403],
       [ 0.93349169,  0.56057669,  0.39957169],
       [ 0.36363636,  0.54243886,  0.43192065],
       [ 0.8489707 ,  0.73820101,  0.36970243],
       [ 0.4897207 ,  0.56751833,  0.23964764],
       [ 0.18225005,  0.58735159,  0.51046989],
       [ 0.20688836,  0.52120184,  0.39825669],
       [ 0.33875388,  0.83111219,  0.55281959],
       [ 0.54731438,  0.63348367,  0.37450188],
       [ 0.12843175,  0.58105161,  0.3683935 ],
       [ 0.10889252,  0.63499515,  0.25473399],
       [ 0.137001  ,  0.78416283,  0.477367  ],
       [ 0.32036817,  0.67082627,  0.6520514 ],
       [ 0.44507126,  0.67450125,  0.23388188],
       [ 0.57559382,  0.46796705,  0.28753381],
       [ 0.58271397,  0.69323183,  0.56386166],
       [ 0.32904848,  0.67917851,  0.31036388],
       [ 0.67410926,  0.67303126,  0.30883679],
       [ 0.48909523,  0.6150333 ,  0.40351668],
       [ 0.58754118,  0.75013483,  0.54553652],
       [ 1.04988124,  0.61570148,  0.54553652]])

In [30]:
pd.DataFrame(x_teste_scaler, columns=x.columns).head()

      idade  altura_jogador  peso_jogador
0  0.368171        0.590259      0.297912
1  0.231936        0.581892      0.422453
2  0.283524        0.701145      0.237827
3  0.885078        0.674291      0.377818
4  0.900877        0.383329      0.239648

## 2.4 Modelo Regressão Logistica

In [31]:
LR = LogisticRegression(random_state=0)
LR.fit(x_treino, y_treino)

LogisticRegression(random_state=0)

## 2.5 Avaliando Resultado Regressão Logistica

In [33]:
## score vai de 0 a 1 (0% - 100%)
LR.score(x_teste,y_teste) * 100

1.5873015873015872

Resultado ruim

## 2.6 Treinando modelo com base normalizada

In [35]:
LR_scaler = LogisticRegression(random_state=0)
LR_scaler.fit(x_treino_scaler, y_treino)
LR_scaler.score(x_teste_scaler, y_teste) *100

1.5873015873015872

Resultado ruim

## 2.7 Modelo Árvore de Regressão

In [36]:
DT = DecisionTreeClassifier(random_state=0).fit(x_treino, y_treino)

In [37]:
## 2.8 Avaliando Resultado Árvore de Regressão

In [39]:
DT.score(x_teste, y_teste) * 100

3.968253968253968

Resultado ruim

In [41]:
DT_scaler = DecisionTreeClassifier(random_state=0).fit(x_treino_scaler, y_treino)
DT_scaler.score(x_teste_scaler, y_teste) * 100

3.968253968253968

Resultado ruim