<a href="https://colab.research.google.com/github/VictorHolanda21/MachineLearning-PrevisaoFutebol/blob/main/6_Treinamento_Modelo_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Importando Bibliotecas

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

import warnings
warnings.warn("deprecated", DeprecationWarning)
warnings.filterwarnings("ignore")

In [5]:
url_loc_files = '/content/drive/MyDrive/Colab Notebooks/Previsao No Futebol/'

media_classificacao_time = pd.read_csv(url_loc_files + 'media_classificacao_time_2.csv')

media_classificacao_time.head()

,ano,classificacao_time_2,idade,altura_jogador,peso_jogador,qtd_jogadores,pct_estrangeiro
0,2003,0,40.976190,1.818743,76.018072,168,63.095238
1,2003,2,42.301370,1.812329,76.712329,73,54.810496
2,2004,2,41.602410,1.820952,76.904762,84,47.945205
3,2005,0,39.031250,1.827250,76.925000,160,65.662651
4,2005,2,39.295775,1.824366,77.070423,71,56.176471

# 2. Modelagem

## 2.1 Dividindo base de treinamento e teste

In [6]:
x = media_classificacao_time.drop(columns=['ano', 'classificacao_time_2'])
y = media_classificacao_time.classificacao_time_2

x_treino, x_teste, y_treino, y_teste = train_test_split(x,y, test_size=0.3,random_state=42)

In [7]:
print("Qtde linhas (x): ", len(x_treino))
x_treino.head()

Qtde linhas (x):  20

        idade  altura_jogador  peso_jogador  qtd_jogadores  pct_estrangeiro
13  34.510870        1.832717     77.456522             92        60.638298
15  32.707602        1.827778     76.198830            171        65.402844
11  35.877049        1.822479     75.851240            127        45.161290
17  31.957983        1.824774     76.178470            357        54.347826
1   42.301370        1.812329     76.712329             73        54.810496

## 2.2 Normalizando a base

In [8]:
scaler = MinMaxScaler()
x_treino_scaler = scaler.fit_transform(x_treino)
x_teste_scaler = scaler.transform(x_teste)
x_teste_scaler

array([[-0.01679187,  0.86218388,  0.3506738 ,  0.2852459 ,  0.84947518],
       [ 0.44387251,  0.43683838,  0.25076658,  0.13770492,  0.63304309],
       [ 0.49784713,  0.4176899 ,  0.35812842,  0.34754098,  1.02902335],
       [ 0.27246464,  1.29434972,  1.02837531,  0.0557377 ,  0.64938549],
       [ 0.63492912,  0.96122339,  0.2885317 ,  0.06885246, -0.07313263],
       [ 0.51809296,  0.47820059,  0.43839182,  0.38360656,  0.80986897],
       [ 0.17453573,  0.66213831,  0.29163429,  0.23606557,  0.82333688],
       [ 0.9196206 ,  0.37681693,  0.3947478 ,  0.31803279,  0.87476868],
       [-0.01691787,  0.67787888,  0.23393213,  1.04590164,  0.60715022]])

## 2.3 Modelo de Regressão Logistica

In [10]:
LR = LogisticRegression(random_state=0)
LR.fit(x_treino, y_treino)
LR.score(x_teste,y_teste) * 100

100.0

In [11]:
LR_scaler = LogisticRegression(random_state=0)
LR_scaler.fit(x_treino_scaler, y_treino)
LR_scaler.score(x_teste_scaler, y_teste) *100

55.55555555555556

## 2.4 Modelo Árvore de Regressão

In [12]:
DT = DecisionTreeClassifier(random_state=0).fit(x_treino, y_treino)
DT.score(x_teste, y_teste) * 100

100.0

In [13]:
DT_scaler = DecisionTreeClassifier(random_state=0).fit(x_treino_scaler, y_treino)
DT_scaler.score(x_teste_scaler, y_teste) * 100

100.0

## 2.5 Avaliando as variáveis mais importantes para o Modelo (Feature Importance)

In [14]:
for i in zip(x.columns, DT.feature_importances_):
  print(i)

('idade', 0.0)
('altura_jogador', 0.0)
('peso_jogador', 0.0)
('qtd_jogadores', 1.0)
('pct_estrangeiro', 0.0)